@font-face {
  font-family: "Segoe UI Variable Static Small";
  src: url("assets/font/Segoe\ UI.ttf");
}

@font-face {
  font-family: "Segoe UI Variable Static Display";
  src: url("assets/font/Segoe\ UI\ Bold.ttf");
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-image: url("assets/background/bg-win11.png");
  background-repeat: no-repeat;
  background-size: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

.nav-bar {
  background: #202020;
  border-radius: 7px 7px 0px 0px;
}

#title-app {
  font-family: "Segoe UI Variable Static Small";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.section_main {
  box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.56),
    0px 2px 21px rgba(0, 0, 0, 0.55);
  border-radius: 7px;
}

.Chats span {
  font-family: "Segoe UI Variable Static Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 10px;
  /* identical to box height, or 143% */
}

.search {
  all: unset;
  padding: 3px 5px 3px 5px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
  border-bottom: solid 1px white;
  width: 90%;
}

.search::placeholder {
  font-family: "Segoe UI Variable Static Small";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  font-feature-settings: "rclt" off;

  color: rgba(255, 255, 255, 0.786);
}

.anyClass {
  width: 103.5%;
  margin-top: 20px;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;


  border-radius: 0px 0px 0px 7px;
}

.caht-list-box {
  background: linear-gradient(108.74deg,
      rgba(255, 255, 255, 0.038) 0%,
      rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  border-radius: 0px 0px 0px 7px;
}

.chat-screen {
  height: 68vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.514);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 30px;
  background: rgba(255, 255, 255, 0.5442);
  border-radius: 9999px;
}

.title-user {
  font-family: "Segoe UI Variable Static Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}

.title-user-sec {
  font-family: "Segoe UI Variable Static Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  color: #6ccb5f;
}

.short-msg {
  font-family: "Segoe UI Variable Static Small";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #888888;
}

.short-msg-meadia {
  font-family: "Segoe UI Variable Static Small";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #0078d4;
}

.msg-notread {
  font-family: "Segoe UI Variable Static Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}

.time-mag {
  position: relative;
  text-align: end;
  font-family: "Segoe UI Variable Static Small";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #838383;
}

.icon-maseage {
  width: 40px;
}

.chat-item {
  margin-bottom: 5px;
  padding: 5px;
}

.chat-item:hover {
  border-radius: 5px;
  background: linear-gradient(108.74deg,
      rgba(255, 255, 255, 0.24) 0%,
      rgba(255, 255, 255, 0.06) 100%);
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  border-left: solid 2px wheat;
}

.chat-item-select {
  border-radius: 5px;
  background: linear-gradient(108.74deg,
      rgba(255, 255, 255, 0.24) 0%,
      rgba(255, 255, 255, 0.06) 100%);
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  border-left: solid 2px wheat;
}

.msg-windos-size {
  display: none;
}

.msg-windos-size h3 {
  font-family: "Segoe UI Variable Static Display";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
  margin-top: 50vh;
}

@media only screen and (max-width: 1439px) {
  .main-div {
    display: none;
  }

  .msg-windos-size {
    display: inline;
  }
}

.chate-info-box {
  background: linear-gradient(108.74deg,
      rgba(0, 0, 0, 0.24) 0%,
      rgba(68, 68, 68, 0.06) 100%);
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid rgb(71, 71, 71);

  backdrop-filter: blur(100px);
  align-items: center;
}

.icon-info-chat {
  margin-left: 5px;
}

.box-chat {
  background: rgba(58, 58, 58, 0.3);
  backdrop-filter: blur(100px);
  border-radius: 0px 0px 7px 0px;
}


.pm-text-resive {
  font-family: 'Segoe UI Variable Static Small';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */


  color: #FFFFFF;

  margin-top: 7px;
  margin-left: 10px;
  padding: 10px;
  background: rgba(46, 173, 212, 0.186);
  border-radius: 4px 14px 14px 14px;
  display: inline-block;
  width: fit-content;
}

.pm-text-send {
  font-family: 'Segoe UI Variable Static Small';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */


  color: #FFFFFF;

  margin-top: 7px;
  margin-right: 10px;
  padding: 10px;
  background: #6815a3;
  border-radius: 14px 14px 4px 14px;
  display: inline-block;
  width: fit-content;
}

.time-pm {
  font-family: 'Segoe UI Variable Static Small';
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  text-align: right;
  color: #A1AAB3;
}

.imge-pm {
  margin-top: 7px;
  width: 250px;
}

.stik-pm {
  margin-top: 7px;
  width: 250px;
}

.box-input-chat {
  background: rgba(154, 154, 154, 0.051);
  border-radius: 8px;
  padding: 5px;
}

.input-chat {
  all: unset;

  font-family: 'Segoe UI Variable Static Small';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 21px;

  color: #8A8A8A;

  margin-left: -25px;
}